extends layout

block content
    if user == null
        .card.mx-auto.login-card
            .card-header
                | Registration:
            .card-body
                form#signup-form
                    .form-group
                        label(for='signup-email') Email address:
                        input#signup-email.form-control(type='email' name="email")
                    .form-group
                        label(for='signup-password') Password:
                        input#signup-password.form-control(type='password' name="password_1")
                    .form-group
                        label(for='signup-password-repeat') Repeat password:
                        input#signup-password-repeat.form-control(type='password' name="password_2")

                    button#signup-confirm-btn.btn.btn-primary(type='button' onclick="signup()") Submit

block scripts
    script(src='javascripts/signup.js')
